<%-include('include/_register')%>
    <div id="log">
        <div class="login-container">
            <section class="login" id="login">
                <header>
                    <h2>FRUITS SHOPE</h2>
                    <h4>Login</h4>
                </header>
                <form class="login-form" action="/products/loginn" method="post">
                    <input type="text" class="login-input" name="username" placeholder="User" required autofocus/>
                    <input type="password" class="login-input" name="password" placeholder="Password" required/>
                    <div class="submit-container">
                        <button type="submit" class="login-button">SIGN IN</button>
                    </div>

                    <%if(val){%>


                        <label for="err">
                            <%=val%>
                            
                            </label>
                        <%}%>
                </form>
                <a href="/products/register">
                    <div class="submit-container">
                        <button type="submit" class="login-button">REGISTER</button>
                    </div>
                </a>
            </section>
        </div>

    </div>
    </body>

    </html>